<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Service">
        <div class="container">
            <div class="row p-5">
                <div class="col-md-4 text-center">
                    <img style="height:100%; width:100%;" class="img-responsive rounded-circle"
                        src="https://i.pinimg.com/1200x/da/75/25/da75255f06b8e6f1888392924df988da.jpg"/>
                </div>
                <div class="col-md-8">
                    <h3>The Second Heading <strong class="text-secondary">Is Pretty Cool Too.</strong></h3>
                    
                    <p class="fs-5 ">Donec ullamcorper nulla
                        non auctor fringilia. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna,
                        vel scelerisque nisl consectetur. fusce dapibus, ellus ac cursus commodo.</p>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>